.anuncios-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* flex-direction: column; */
    /* margin-top: 20px; */
    margin: 20px 0px;
    text-decoration: none;
    
}
.ad:hover {
  border-color: #59ba46;
}

.ads{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}
a {
    text-decoration: none; /* Quita la decoración de texto de los enlaces */
}

.ad{display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 300px;
    text-align: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border: 3px solid transparent;
}

.ad:hover {
    border-color: #59ba46;
  }
.tituloanuncio{
    margin: 10px 0;
    color: black;

}

.ad .imagen img{
    height: 200px;
    max-width: 100%; /* Asegura que las imágenes no sean más anchas que el anuncio */
}

@media (max-width: 768px) {
    .anuncios-container {
        display: flex; /* Cambiar de grid a flex para una sola columna */
        flex-direction: column; /* Mostrar anuncios en una columna */
    }
}